<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta name="csrf" content="4pca8H_kLjx-9KEwBaNlxZ9oDGHeOJksZj4ixBjqFNzfXJunVRCyFHzLvP8I-7lm7iBEjxHrjKobtT-0W-_BjA"> -->
    <!-- <link href="https://jaguar-real-staging.staging.oregon.platform-os.com/assets/modules/_admin/css/uppy/uppy.min.css" rel="stylesheet" /> -->
    <!-- <script src="https://jaguar-real-staging.staging.oregon.platform-os.com/assets/modules/_admin/js/uppy/uppy.min.js"></script> -->
    <title></title>
  </head>
  <body class="dark:bg-surface--dark-100 bg-white">
    <div id="app"></div>
    <script
      type="module"
      src="/src/pages/application/app/views/front-end/main.js"
    ></script>
  </body>
</html>
